* {
	vertical-align:baseline;
	border:0 none; padding:0; margin:0;
}
body {
	font:62.5% verdana, arial, sans-serif; line-height:1.8em;
	width:80em;
	margin:0 auto;
	background:whitesmoke;
}
	body > * { font-size:1.2em }
ol, ul { list-style-position: inside }
	
h1 {
	font:4em Georgia, "Times New Roman", serif;
	text-shadow:2px 2px 2px gray;
	margin:.5em 0 .8em;
}
h2 {
	font:3em "Trebuchet MS", Verdana, sans-serif;
	text-shadow:1px 1px 1px gray;
	margin:1em 0 .5em;
}
h3 {
	font:2em "Trebuchet MS", Verdana, sans-serif;
	margin:1em 0 .5em;
}

.vcard { line-height:1.7em }
	.vcard img {
		border:5px solid white;
		-webkit-box-shadow:2px 2px 10px gray; -moz-box-shadow:2px 2px 10px gray;
		-webkit-transform: rotate(8deg); -moz-transform: rotate(8deg);
		float:right;
		margin-right:10%;
	}
		.vcard img:hover {
			-webkit-box-shadow:2px 2px 15px gray; -moz-box-shadow:2px 2px 15px gray;
		}
	.vcard .fn {
		font-variant:small-caps; font-size:1.1em;
		margin:bottom:.5em;
	}
	.vcard dd { padding-left:1em }
		.vcard dt:first-child + dd { padding-left:0 }
	.vcard .adr ~ dt { float:left; width:6.5em }

h2 + dl dt {
	padding-bottom:.3em;
	font-variant:small-caps; font-size:1.1em;
}
h2 + dl dd { padding-left:1em }
h2 + dl dd + dd { 
	border-bottom:1px dotted gray;
	margin-bottom:1em;
	padding-bottom:1em;
}
	h2 + dl dd ol { display:inline }

.hcitation > ol { list-style-position: outside }
	.hcitation > ol > li {
		padding:1em;
		border-bottom:1px dotted gray;
	}
		.hcitation > ol > li ol, dd ol { list-style:none }
			.hcitation > ol > li ol li, dd ol li { display:inline }

.author em { font-style:normal; font-variant:small-caps }
